<%- include('../partials/header.ejs') %>
  <body>
	<!-- <script src="index.js"></script> -->
   DASHBOARD
   <h1>Welcome back <%= locals.message %>! </h1>
  </body>
<%- include('../partials/footer.ejs') %>