<%- include('../partials/header.ejs') %>
  <body>
	<!-- <script src="index.js"></script> -->
   LIST DASHBOARD
   <h1>Welcome back <%= locals.message %>!  LIST OF USER TO FOLLOW</h1>
   <h1><%= locals.message %></h1>
  </body>
<%- include('../partials/footer.ejs') %>